body {
    background-color:white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.border-line {
    background-color:black;
    height:3px;
}

.header-nav {
    margin-top:10px;
    text-align: center;
}

.nav-item {
    display:inline-block;
    margin-bottom:5px;
    font-size: 16pt;
}

.focus {   
    font-style: italic;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top:5px;
    margin-bottom:15px;
    font-family: Georgia;
}

h2 {
    font-family: Georgia;
}

main {
    margin-left:75px;
    margin-right:75px;
}

.break-line-one {
    margin-bottom: 30px;
}

section {
    float: left;
}

.about-me-content {
    width:75%;
    box-sizing: border-box;
}

p {
    font-size: 14pt;
}

.about-me-picture {
    width:25%;
    box-sizing: border-box;
    text-align: right;
}

.footer-nav {
    text-align: center;
}

main:after{
    content:"";
    display:block;
    clear:both;
}

.border-line.bottom {
    margin-top: 50px;
}

.border-line.portfolio {
    background-color:grey;
}

.project-box {
    width:30%;
    height: 325px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.40);
    text-align: center;
    padding-top: 280px;
    font-size: 16pt;
    margin-bottom: 50px;
    }

.project-box.center-box {
    margin-left:5%;
    margin-right:5%;
}

.project-text {
    vertical-align: text-bottom;
}